<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebViewEditMenuTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55E45ADC1BD67D7A002113A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55E45AF51BD67D7A002113A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55E45B001BD67D7A002113A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
